@media screen and (max-width: 1300px)
  html
    font-size: 12px
@media screen and (max-width: 1200px)
  html
    font-size: 12px
  .nav
    &
      &__item
        margin-right: 1rem
@media screen and (max-width: 992px)
  .nav
    display: none
  .hero
    &
      &__instagram
        display: none
    &__content
      margin-left: 0
  .row
    flex-direction: column
    align-items: center
  .col-30
    margin-top: 0
  .col-35
    width: 100%
    justify-content: space-around
  .col-55
    margin-top: 3rem
    min-width: 100%
  .contacts
    &
      &__phone
        &
          margin-right: 0
          color: $light
          text-decoration: none
        &--footer
          color: $primary
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &
      &__scroll-down
        display: none
      &__content
        max-width: 22.86rem
      &__text
        font-size: 1.29rem
        margin-bottom: 2.28rem
      &__button
        display: block
        max-width: 100%
        width: 26.55rem
        margin-bottom: 1.85rem
  .section
    &--dark
      padding-top: 0
  .types
    &
      &__card
        margin-bottom: 5rem
      &__section
        &-title
          margin-top: 4.14rem
  .card
    &
      &__text
        margin-left: 0
  .video
    &
      &__play
        width: 7rem
  .control
    &
      &__text
        margin-bottom: 0
      &__video
        min-height: 20rem
      &__form
        flex-direction: column
      &__label
        margin-top: 5rem
      &__input
        margin-top: 0.4rem
      &__button
        min-width: 100%
        order: 2
        margin-top: 4.459rem
      &__policy
        &
          order: 1
        &-label
          justify-content: flex-start
  .design
    &
      padding-bottom: 21rem
    &__section
      &-title
        margin-top: 1rem
  .footer
    &
      &__menu
        display: none
      &__title
        margin-bottom: -1rem
      &__form
        display: block
      &__input
        &-group
          margin-top: 5rem
      &__policy
        margin-top: -2rem
        margin-bottom: 5rem
      &__button
        min-width: 100%
      &__container
        display: flex
        flex-direction: column-reverse
      &__contacts
        &--title
          max-width: 25rem
      &__map
        height: 24.214rem
        padding-bottom: 4rem
        margin-bottom: 0
  .policy
    &__label
      &--center
        justify-content: flex-start
  .animated
    &
      transition-property: none !important
      transform: none !important
      animation: none !important
@media screen and (max-height: 520px)
  .hero
    &
      height: 150vh
@media screen and (max-width: 457px)
  .footer
    &__contacts
      &--title
        max-width: 25rem