@media screen and (max-width: 1300px)
  html
    font-size: 12px
@media screen and (max-width: 1200px)
  html
    font-size: 12px
  .nav
    &
      &__item
        margin-right: 1rem
@media screen and (max-width: 992px)
  .nav
    display: none
  .hero
    &
      &__instagram
        display: none
      &__content
        margin-left: 0
  .row
    flex-direction: column
  .col-35
    width: 100%
    justify-content: space-around
  .col-55
    margin-top: 3rem
    max-width: 100%
@media screen and (max-width: 760px)
  .row
    flex-direction: column
    align-items: center
  .col-35
    max-width: 100%
  .col-55
    margin-top: 3rem
    min-width: 100%
    max-height: 100%
  .types
    &
      &__card
        margin-bottom: 5rem
  .card
    &
      &__text
        margin-left: 0
@media screen and (max-width: 570px)
  .col-35
    max-width: 100%
  .col-55
    margin-top: 3rem
    min-width: 100%
    max-height: 100%
  .contacts
    &
      &__phone
        margin-right: 0
        color: $light
        text-decoration: none
      &__button
        display: none
  .title
    font-size: 1.64rem
  .hero
    &
      &__scroll-down
        display: none
      &__content
        max-width: 22.86rem
      &__text
        font-size: 1.29rem
        margin-bottom: 2.28rem
      &__button
        display: block
        max-width: 100%
        width: 26.55rem
        margin-bottom: 1.85rem
@media screen and (max-height: 520px)
  .hero
    &__scroll-down
      display: none